/* style pour toutes les pages des documents */
body{
    font-family:"Arial Black";
    background:  center no-repeat url("../Image/SCP.png");
}


p {
    color:white;
    text-align: center;
}
h1 {
    color:red;
    border: 1px solid white;
    text-align: center;
}
h2 {
    color:black;
}
li {
    font-size: 16px;
    letter-spacing: 1px;
    color:yellowgreen;
}
a {
    color:yellowgreen;
}
.Title {
    background-color: yellowgreen;
    color: white;
    padding: 10px;
}


#Title1 {
    background-color: lightblue;
    color: black;
    text-align: center;
}
#map1{
    width: 35%;
}
