body {
    max-width: 1000px;
    margin: 0 auto;
    font: 1.0em Arial, Helvetica, sans-serif
}
h1{
    text-align: center;
    border: 5px solid olivedrab;
}
.box {
	border: 2px solid darkblue;
	padding-left: 10px;
    width:23%;
    float:left;
}
.box2 {
    border: 2px solid red;
    clear:top;
    margin-left: 242px;
    margin-right: 10px;
    padding: 0 8px 0 10px;
}
.text {
    float:left;
    margin-top: 0;
}
img {
    height: 293px;
    width: 293px;
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid black;
}



