main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;
	text-align: center;
}


nav
{
	width : 18% ;
	border : 1px solid blue ;
	text-align: left;
    display:inline-block;
    vertical-align: top;
    margin-right: 3%;

}
section
{
	border : 1px solid blue ;
    width: 77%;
    display:inline-block;

}





